* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  background-color: #fff;
}
.wrapper .wrapper-main .header .header-main {
  width: 100%;
  height: 1.173333333333333rem;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.wrapper .wrapper-main .header .header-main:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ededed;
}
@media screen and (-webkit-device-pixel-ratio2) {
  .wrapper .wrapper-main .header .header-main:after {
    transform: scaleY(0.5);
  }
}
@media screen and (-webkit-device-pixel-ratio3) {
  .wrapper .wrapper-main .header .header-main:after {
    transform: scaleY(0.333333333333333);
  }
}
.wrapper .wrapper-main .header .header-main .title {
  font-size: 0.48rem;
  float: right;
  margin-left: 2.133333333333333rem;
}
.wrapper .wrapper-main .header .header-main i {
  font-size: 0.666666666666667rem;
}
.wrapper .wrapper-main .header .header-main .right {
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  float: right;
  margin-left: 2.133333333333333rem;
}
.wrapper .wrapper-main .header .header-main .right a {
  display: inline-block;
}
.wrapper .wrapper-main .content {
  position: absolute;
  height: 4rem;
  margin: auto;
}
.wrapper .wrapper-main .content .logo {
  width: 10rem;
  height: 0.853333333333333rem;
  text-align: center;
  margin-top: 0.8rem;
}
.wrapper .wrapper-main .content .logo img {
  width: 2.56rem;
  height: 0.853333333333333rem;
  vertical-align: middle;
}
