* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  background-color: #f2f5f4;
}
.wrapper .wrapper-main .header .header-main {
  width: 100%;
  height: 1.173333333333333rem;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.wrapper .wrapper-main .header .header-main .title {
  font-size: 0.48rem;
  float: right;
  margin-left: 1.866666666666667rem;
}
.wrapper .wrapper-main .header .header-main i {
  font-size: 0.666666666666667rem;
}
.wrapper .wrapper-main .header .header-main .right {
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  float: right;
  margin-left: 2.133333333333333rem;
}
.wrapper .wrapper-main .header .header-main .right a {
  display: inline-block;
}
.wrapper .wrapper-main .header .content {
  position: absolute;
  height: 4rem;
  margin: auto;
}
.wrapper .wrapper-main .header .content .img {
  width: 10rem;
  height: 6.426666666666667rem;
  text-align: center;
  line-height: 6.426666666666667rem;
}
.wrapper .wrapper-main .header .content .img img {
  width: 3.813333333333333rem;
  height: 1.2rem;
  vertical-align: middle;
}
.wrapper .wrapper-main .header .content .text {
  height: 2.266666666666667rem;
  text-align: center;
}
.wrapper .wrapper-main .header .content .text .icon {
  margin-right: 0.21333rem;
  position: relative;
  top: -0.02667rem;
  font-size: 0.4rem;
}
.wrapper .wrapper-main .header .content .text .icon.email {
  font-size: 0.64rem;
  top: 0.093333333333333rem;
}
.wrapper .wrapper-main .header .content span {
  color: #999;
  margin: 0 0 50px;
  font-size: 16px;
}
.wrapper .wrapper-main .header .content .login-phone,
.wrapper .wrapper-main .header .content .login-email {
  width: 8.933333333333334rem;
  height: 1.253333333333333rem;
  font-size: 0.4rem;
  color: #fff;
  border-radius: 0.04rem;
  line-height: 1.226666666666667rem;
  margin: auto;
  margin-top: 0.266666666666667rem;
}
.wrapper .wrapper-main .header .content .login-phone {
  background-color: #dd1a21;
}
.wrapper .wrapper-main .header .content .login-email {
  border: 1px solid #dd1a21;
  background-color: #fff;
  color: #dd1a21;
}
.wrapper .wrapper-main .header .thirdWrap {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 1.06667rem;
  height: 0.53333rem;
  text-align: center;
}
.wrapper .wrapper-main .header .thirdWrap div {
  height: 0.53333rem;
  border-right: 1px solid #979797;
  display: inline-block;
  text-align: center;
  padding: 0 0.53333rem;
  font-size: 0.37333rem;
  line-height: 0.53333rem;
  color: #7f7f7f;
  margin-left: 0.06667rem;
}
